<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938861736409-msa7ineemug55kr4qv3ke3k3q4gqpree.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938861736409-msa7ineemug55kr4qv3ke3k3q4gqpree</string>
	<key>API_KEY</key>
	<string>AIzaSyCY5DJAcrQvq_A9P7Db2TMhXuhfJYqvOuY</string>
	<key>GCM_SENDER_ID</key>
	<string>938861736409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakesage.sakesage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sakesage-c8e86</string>
	<key>STORAGE_BUCKET</key>
	<string>sakesage-c8e86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938861736409:ios:9dbca3160393a08ab029c8</string>
</dict>
</plist>